:root {
    font-family: 'Open Sans', sans-serif;
}

body {
    padding: 0% 15%;
}

nav {
    border: 1px solid;
    border-radius: 3px;
    border-color: rgb(150, 150, 150);
    padding: 0.5rem;
}

.main_heading {
    font-weight: 800;
    font-size: xx-large;
}

.secondary_heading {
    font-size: x-large;
}