<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <title>Prostir Team - {% block title %}{% endblock %}</title>
    
</head>
<body>
    <nav>
        {% block navbar %}
        {% endblock %}
    </nav>
    <div class="main">
        {% block main %}
        {% endblock %}
    </div>
</body>
</html>