<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gmod ptostir</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

        :root {
            font-family: 'Open Sans', sans-serif;
        }

        .main_heading {
            font-weight: 800;
            font-size: xx-large;
        }
    </style>
</head>
<body>
    <div class="main_heading">Prostir Sandbox</div>
    <h2>A unique ukrainian sandbox experience!</h2>
</body>
</html>