

body, html {
    margin: 0;
    padding: 0;
    background-color: black;
}

@keyframes logo {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
} 

.prostirteam-logo {
    opacity: 0;
    animation: logo 3s linear 1s;
    margin: auto 0;
}

.prostirteam-logo svg {
    height: 5rem;
}