body, html {
    margin: 0;
    padding: 0;
    background-color: black;
}

@keyframes prostirteam-logo {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes prsbox-logo {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.prostirteam-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
} 

#prostirteam-logo {
    opacity: 0;
    animation: prostirteam-logo 3s linear 1s;
    margin: auto 0;
}

#prostirteam-logo svg {
    height: 10vh;
}

#prsbox-logo {
    opacity: 0;
    animation: prsbox-logo 2s ease-out 1s;
    animation-fill-mode: forwards;
    margin: auto 0;
}

#prsbox-logo img {
    max-height: 50vh;
}
