/* Resets default html styling */

body {
    margin: 0;
}

a:link {
    color: inherit;
    text-decoration: none;
    cursor: auto;
}

a:link:active {
    color: inherit;
}

a:visited {
    color: inherit;
    text-decoration: none;
    cursor: auto;
}

a:visited:active {
    color: inherit;
}