:root {
    font-family: "MacPaw Fixel", sans-serif;
    background-color: rgb(40, 40, 40);
    color: rgb(210, 210, 210);
}

/* Navbar styles */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 0.5rem;
    padding-top: 0.75rem;
    
    background-color: rgba(60, 60, 60, 0.9);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.nav_title {
    display: flex;
    justify-content: start;
    margin-left: 15%;
    flex-grow: 3;
    font-size: 1.2rem;
    font-weight: normal;
    transition: ease 0.25s;
}

.nav_title:hover {
    color: white;
    cursor: pointer;
}

.nav_links {
    display: flex;
    flex-grow: 1;
    justify-content: inherit;
    margin-right: 15%;
}

.nav_links a {
    transition: ease 0.25s;
}

.nav_links a:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
}

/* Main website styles */
.main {
    padding: 3.5rem 20% 0;
    display: flex;
    flex-direction: column;
}

.main_title {
    font-weight: bolder;
    font-size: 5rem;
    text-align: center;
}

.secondary_title {
    font-size: large;
    text-align: center;
}

.article {
    padding: 1rem 20%;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5rem;

    background-color: rgb(50, 50, 50);
    text-align: center;
    font-size: small;
}

/* Styles for mobile devices */
@media screen and (max-width: 1280px) {
    .main {
        padding: 5rem 1rem 0;
    }

    .main_title {
        font-size: 3.5rem;
    }
}
