:root {
    font-family: "MacPaw Fixel", sans-serif;
    background-color: rgb(40, 40, 40);
    color: rgb(210, 210, 210);
}

/* Navbar styles */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 0.5rem;
    padding-top: 0.75rem;
    z-index: 10000;
    background-color: rgba(60, 60, 60, 0.9);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.nav-title {
    display: flex;
    justify-content: start;
    margin-left: 15%;
    flex-grow: 3;
    font-size: 1.2rem;
    font-weight: normal;
    transition: ease 0.25s;
}

.nav-title:hover {
    color: white;
    cursor: pointer;
}

.nav-links {
    display: flex;
    flex-grow: 1;
    justify-content: inherit;
    margin-right: 15%;
}

.nav-links a {
    transition: ease 0.25s;
}

.nav-links a:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
}

/* Main website styles */
.main {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.title {
    padding: 3.5rem 20% 1rem;
}

.main-title {
    font-weight: bolder;
    font-size: 5rem;
    text-align: center;
}

.devs-showcase {
    max-width: 100%;
    height: 40rem;

    background-image: url("/static/img/prostir_img1.png");
    background-color: rgb(175, 175, 175);
    background-blend-mode: multiply;
    background-position: center;
}

.devs-showcase .desc {
    width: 20rem;
    padding: 0.8rem;
    margin: 8rem 20%;
    /* max-width: 10rem; */

    font-size: larger;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(40, 40, 40, 0.45);
    background-blend-mode: inherit;
}

.team-showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    height: 50rem;

    background-image: url("/static/img/prostir_img4.png");
    background-color: rgb(175, 175, 175);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
}

.team-showcase-container {
    padding: 1rem;
    margin: 3rem;

    background-color: rgba(60, 60, 60, 0.75);
    border-radius: 15px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.team-showcase-title {
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.members {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.member {
    display: flex;
    flex-direction: column;

    background-color: rgba(40, 40, 40, 0.6);
    border-radius: 10px;
    margin: 0.5rem;
    padding: 1rem;
    width: 12rem;
    height: 15rem;
}

.member img {
    flex-grow: 2;
    width: 128px;
    max-width: 128px;
    height: 128px;
    max-height: 128px;
    border: 2px solid rgb(30,30,30);
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
}

.member .member-name {
    flex-grow: 1;
    font-size: larger;
    font-weight: 500;
    text-align: center;
    margin: 0.5rem;
}

.member .member-desc {
    flex-grow: 1;
    font-size: large;
    font-weight: 300;
    text-align: center;
}

.player-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    height: 60rem;

    background-image: url("/static/img/prostir_img3.png");
}

.player-list-desc {
    font-size: larger;
    text-align: center;
    margin: 0.5rem auto;
    padding: 0.5rem 0.8rem 0.3rem 0.8rem;
    background-color: rgba(50, 50, 50, 0.7);
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.players {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 10px;

    margin-left: 20%;
    margin-right: 20%;
}

.player-list-player {
    padding: 5px 10px 5px 10px;
    background-color: rgba(50, 50, 50, 0.7);
    border-radius: 15px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.player-pfp {
    max-width: 128px;
    min-width: 128px;
    max-height: 128px;
    min-height: 128px;

    border-radius: 100%;

    padding: 0 0.5rem;
    margin: 0.5rem auto;
}
.player-name {
    display: absolute;
    text-align: center;
    font-size: small;

    left: 50%;
    right: 50%;

}

.join-now-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 5rem;
    margin: 1rem auto;

    background-color: rgba(50, 50, 50, 0.7);
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: ease-out 0.3s;
}

.join-now-button:hover {
    padding: 1rem 5.5rem;
    
    cursor: pointer;
    background-color: rgb(60,60,60);
    font-weight: 600;
}

/* Projects.html styles */
.projects-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1rem;
    margin: 3rem auto;
    max-width: 70%;

    background-color: rgba(60, 60, 60, 0.75);
    border-radius: 15px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.projects-list-desc {
    padding: 0 0 0.5rem;
    margin: auto;
}

.project {
    padding: 1rem;
    margin: auto;

    max-width: 30rem;
    display: flex;
    flex-direction: column;

    background-color: rgba(70, 70, 70, 0.75);
    border-radius: 15px;
}

.project-icon {
    margin: auto;
}

.project-icon img {
    max-height: 256px;
    max-width: 256px;
    border-radius: 100%;
}

.project-title {
    font-weight: bold;
    font-size: larger;
    margin: auto;
}

.project-desc {
    max-width: 90%;
    margin: auto;
}

/* News.html styles */

.news-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

.news-feed {
    display: flex;
    flex-direction: column;
    max-width: 45rem;
    margin: 1rem;
    background-color: rgba(60,60,60, 0.75);
    border-radius: 15px;
}

.news-post {
    background-color: rgba(70, 70, 70, 0.75);
    margin: 0.5rem;
    padding: 0.5rem;
}

#post-title {
    font-size: xx-large;
    font-weight: bolder;
    margin: 0 0.5rem;
}

#post-author {
    font-weight: bold;
}

#post-date {
    font-weight: bold;
}

#post-body {
    background-color: rgba(80, 80, 80, 0.75);
    margin: 0.5rem;
    padding: 0.5rem;
}

/* base.html */

footer {
    /* position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0; */
    padding: 0.5rem;

    background-color: rgb(50, 50, 50);
    text-align: center;
    font-size: small;
}

/* Styles for mobile devices */
/* @media screen and (max-width: 1280px) {
    .main {
        padding: 5rem 1rem 0;
    }

    .main-title {
        font-size: 3.5rem;
    }
} */
