{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/news.css') }}"/>
{% endblock %}

{% block title %} TITLE {% endblock %}
{% block pagename %}- TITLE{% endblock %}

{% block main %}
<section class="title">
	<div class="main-title">News</div>
</section>
<div class="news-container">
    <div class="news-feed">
        {% for info_type in info.keys() %}
        <div class="news-post bg-blur-10px">
            <h2 class="type{{ info_type }}">{{ update_type(info_type).name }}</h2>
            {% for info_text in info[i] %}
            <p>* {{ info_text }}</p>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}