<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resets.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>Prostir Team - {% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <a class="nav-title" href="/">Prostir Team</a>
        <span class="nav-links">
            <a href="/news">News</a>
            <a href="/projects">Projects</a>
            <a href="https://discord.gg/stV4JswQ9Q">Discord</a>
            <a href="https://github.com/Prostir-Team">GitHub</a>
        </span>
    </nav>
    <div class="main">
        {% block main %}
        {% endblock %}
    </div>
    <footer>
        <span>© Prostir Team 2023</span>
    </footer>
</body>
</html>