<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resets.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/scrollbar.css') }}"/>
    {% block styles %}{% endblock %}
    <title>Prostir Team - {% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="bg-blur-5px">
        <div class="nav-container">
            <a class="nav-title" href="/">Prostir Team {% block pagename %}{% endblock %}</a>
            <span class="nav-links">
                <a href="/news">Новини</a>
                <a href="/projects">Проєкти</a>
                <a href="https://discord.gg/stV4JswQ9Q">Дискорд</a>
                <a href="https://github.com/Prostir-Team">GitHub</a>
                <a title="Увійти через Steam" id="user-btn" href="/donate"><img class="user-avatar" src="/static/img/placeholder.png" alt="user-avatar"></a>
            </span>
        </div>
    </nav>
    <div class="main">
        {% block main %}{% endblock %}
    </div>
    <footer>
        <span>© Prostir Team 2023</span>
    </footer>
</body>
</html>