{% extends "base.html" %}

{% block title %}Main{% endblock %}

{% block main %}
<section>
    <div class="main_title">Prostir Team</div>
    <div class="secondary_title">An enthusiastic team of passionate developers.</div>
    <div class="article">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis eos quis saepe velit, ipsum minus, nisi dolor ullam nam sequi distinctio vero deserunt? Natus, laudantium. Facilis nobis voluptatibus porro hic?
    </div>
</section>
{% endblock %}