{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/news.css') }}"/>
{% endblock %}

{% block title %}Новини{% endblock %}
{% block pagename %}- Новини{% endblock %}

{% block main %}
<section class="title">
	<div class="main-title">Новини</div>
</section>
<div class="news-container">
    <div class="news-feed">
        {% for article in news %} <!-- article = (uuid, title, img_path, date) -->
        <a class="news-post bg-blur-10px" href="/news/{{ article[0] }}">

            <!-- В середину артікл вкладено тапл(фактично список), і там там є інформація про новину -->
            <!-- Вище ти можеш почачити, що за що відповідає і просто їх отримувати за допомогою article[1](Будеш отримувати title) -->
            <div class="post-info">
                <div class="post-title">{{ article[1] }}</div>
                <div>о <span class="post-date">{{ article[3] }}</span></div>
            </div>
            <img src="{{ url_for('static', filename=article[2]) }}" alt="" class="news-post-img" />
        </a>
        {% endfor %}

        <div class="post-end bg-blur-10px">Ви дійшли до кінця стрічки новин.</div>
    </div>
</div>
{% endblock %}