{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/news.css') }}"/>
{% endblock %}

{% block title %}News{% endblock %}
{% block pagename %}- News{% endblock %}

{% block main %}
<section class="title">
	<div class="main-title">News</div>
</section>
<div class="news-container">
    <div class="news-feed">
        {% for article in news %} <!-- article = (uuid, title, img_path, date) -->
        <a class="news-post bg-blur-10px" href="/news/{{ article[0] }}">
            <span id="post-title">{{ article[1] }}</span>
            on <span id="post-date">{{ article[3] }}</span>
        </a>
        {% endfor %}

        <div class="post-end bg-blur-10px">You reached the end of news feed.</div>
    </div>
</div>
{% endblock %}