{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block main %}
<section class="title">
	<div class="main-title">Our Projects</div>
</section>
<section class="projects-list">
    <div class="projects-list-desc">
        We don't have a lot of projects at the moment.
        But we have one that we're proud of.
    </div>
    <div class="projects-container">
        <div class="project">
            <div class="project-icon"><img src="/static/img/project_logos/prsbox.png" alt="Project Icon"></div>
            <div class="project-title">Prostir Sandbox</div>
            <div class="project-desc">
                Our amazing sandbox server for Garry's Mod, where you can spend good time with
                our *amazing* community. Our addon collection weighs less than 3GB
                but delivers amazing experience in PVP. For builders we have diverse
                set of props and tools to make your experience as pleasant as possible.
            </div>
        </div>
    </div>
</section>

{% endblock %}