{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/projects.css') }}"/>
{% endblock %}

{% block title %}Проєкти{% endblock %}
{% block pagename %}- Проєкти{% endblock %}

{% block main %}
<section class="projects-list">
    <div class="projects-container">
        <div class="project bg-blur-10px">
            <div class="project-icon"><img src="/static/img/project_logos/prsbox.png" alt="Іконка проєкту"></div>
            <div class="project-title">Простір Сандбокс</div>
            <div class="project-desc">
                Наш прекрасний сандбокс сервер для Garry's Mod, де ви можете провести гарний час з
                нашою дружньою (хаха лол) спільнотою. Наша колекція аддонів важить близько 3ГБ,
                але доставляє файний ігровий досвід в ПВП. Для білдерів ми маємо великий
                набір пропів та інструментів, щоб зробити ваш досвід був якомога приємнішим.
            </div>
        </div>
    </div>
</section>

{% endblock %}