{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block main %}
<section class="projects-list">
    <section class="title projects-title">
        <div class="main-title">Our Projects</div>
        <div class="projects-list-desc">
            Our projects that we're ready to publicly showcase.
        </div>
    </section>
    <div class="projects-container">
        <div class="project">
            <div class="project-icon"><img src="/static/img/project_logos/prsbox.png" alt="Project Icon"></div>
            <div class="project-title">Prostir Sandbox</div>
            <div class="project-desc">
                Our amazing sandbox server for Garry's Mod, where you can spend good time with
                our *amazing* community. Our addon collection weighs less than 3GB
                but delivers amazing experience in PVP. For builders we have diverse
                set of props and tools to make your experience as pleasant as possible.
            </div>
        </div>
    </div>
</section>

{% endblock %}